<?xml version="1.0" encoding="utf-8"?>
<!--
Windows package installation through Chocolatey
https://github.com/chocolatey/choco/wiki/CommandsInstall#packagesconfig
-->
<packages>
  <package id="virtualbox" version="6.1.16" packageParameters="/NoDesktopShortcut" allowMultipleVersions="false"/>
  <package id="python3" version="3.11.0"/>
  <package id="vagrant" version="2.2.19"/>
  <package id="sublimetext3" version="3.2.2"/>
  <package id="vscode" version="1.72.2"/>
</packages>
