## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## Vagrant
.vagrant
.vagrant.d
*.box

## Tox
*.tox

## Mkdocs documentation
site/

## Logs
logs/

## ARCHIVES
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

## Ansible-lint
.cache/

## Ruby
*.gem
*.rbc
.bundle/
ruby/
!roles/ruby
vendor/bundle
lib/bundler/man

## VSCode
.vscode/
