# .yamllint -- Overrides the default rules for linting Yaml code

---

extends: default

ignore: |
  .tox/

rules:
  truthy:
    allowed-values: ['true', 'false']
    check-keys: false
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
  empty-values:
    forbid-in-block-mappings: false
    forbid-in-flow-mappings: false
  line-length:
    max: 140
    level: warning
  trailing-spaces:
    level: warning

...

# vim: ft=yaml
